.settings-context-integrations {
  display: flex;
  flex-direction: column;
  gap: 16px;

  &__tabs {
    display: flex;
    gap: 12px;
    list-style: none;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid var(--dark-border);
    padding-bottom: 16px;

    &-item {
      button {
        padding: 8px 16px;
        min-width: 120px;
      }
    }
  }
}
