@use "../../scss/globals.scss";

.backdrop {
  animation-name: backdrop-fade-in;
  animation-duration: 0.4s;
  background-color: rgba(0, 0, 0, 0.45);
  position: fixed;
  inset: 0;
  top: 95px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: globals.$backdrop-z-index;
  transition: background-color ease 0.2s;
  padding: calc(globals.$spacing-unit * 2);

  &--closing {
    animation-name: backdrop-fade-out;
    background-color: rgba(0, 0, 0, 0);
  }

  &--windows {
    top: calc(95px + 35px);
  }
}

@keyframes backdrop-fade-in {
  0% {
    background-color: rgba(0, 0, 0, 0);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.45);
  }
}

@keyframes backdrop-fade-out {
  0% {
    background-color: rgba(0, 0, 0, 0.45);
  }
  100% {
    background-color: rgba(0, 0, 0, 0);
  }
}
